@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Outfit:wght@400;700&display=swap');


:root {
    --White: hsl(0, 0%, 100%);
    --Light gray: hsl(212, 45%, 89%);
    --Grayish blue: hsl(220, 15%, 55%);
    --Dark blue: hsl(218, 44%, 22%);
}

img {
    max-width: 100%;
}

body {
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--Light);
}